{% extends 'base.html.twig' %}

{% block title %}Panier{% endblock %}

{% block body %}
    <div class="container">
        <h1>Votre panier</h1>

        <div class="d-flex justify-content-between">
        {% if app.user %}
            <p>Connecté sous <b>{{ app.user.email }}</b></p>
        {% endif %}

        <p>Nombre d'articles dans le panier : <b>{{ carts|length }}</b></p>
        </div>

        <table class="table">
            <thead>
            <tr>
                <th>Description</th>
                <th></th>
                <th>Prix</th>
                <th></th>
            </tr>
            </thead>
            {% for cart in carts %}
                <tr>
                    {% for book in cart.getBook() %}
                        <td><img src="{{ asset('uploads/'~book.picture) }}" alt="{{ book.name }}" class="img-fluid rounded" style="height: 200px"></td>
                        <td>{{ book.name }}</td>
                        <td>{{ book.price }}</td>
                    {% endfor %}
                    <td>
                        {{ include('cart/_delete_form.html.twig') }}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="2">Votre panier est vide !</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
