{% extends 'base.html.twig' %}

{% block title %}
    Portail administrateur
{% endblock %}

{% block body %}
    <div class="container">
        <h1>{{ titre }}</h1>

        <h4 style="color: #b4761a">Liens</h4>
        <div class="d-flex gap-3">
            <a href="#book" class="btn text-light" style="background-color: #b4761a">Livres</a>
            <a href="#author" class="btn text-light" style="background-color: #b4761a">Auteurs</a>
            <a href="#category" class="btn text-light" style="background-color: #b4761a">Catégories</a>
            <a href="#format" class="btn text-light" style="background-color: #b4761a">Formats</a>
        </div>

        <section class="my-5" id="book">
            <h2>Livres</h2>
            <button class="btn mb-2" style="background-color: #b4761a"><a href="{{ path('app_book_new') }}" class="text-light"><i class="bi bi-plus-lg"></i> Ajouter un livre</a></button>

            <table class="table">
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Titre</th>
                    <th scope="col">Synopsis</th>
                    <th scope="col">Date de sortie</th>
                    <th scope="col">Image</th>
                    <th scope="col">Prix</th>
                    <th scope="col">Actions</th>
                </tr>
                {% for book in books %}
                    <tr>
                        <td>{{ book.id }}</td>
                        <td>{{ book.name }}</td>
                        <td>{{ book.synopsis }}</td>
                        <td>{{ book.releaseDate }}</td>
                        <td><img src="{{ asset('uploads/'~book.picture) }}" alt="{{ book.name }}" class="rounded m-4"
                                 height="300px"></td>
                        <td>{{ book.price }}</td>
                        <td>
                            <button class="btn mb-2" style="background-color: #2d6a4f"><a
                                        href="{{ path('app_book_show', {'id': book.id}) }}" class="text-light"><i class="bi bi-eye-fill"></i> Voir
                                    plus</a></button>
                            <button class="btn mb-2" style="background-color: #2d6a4f"><a
                                        href="{{ path('app_book_edit', {'id': book.id}) }}" class="text-light"><i
                                            class="bi bi-pencil-square"></i> Modifier</a></button>
                            {{ include('book/_delete_form.html.twig') }}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </section>

        <section class="my-5" id="author">
            <h2>Auteurs</h2>
            <button class="btn mb-2" style="background-color: #b4761a"><a href="{{ path('app_author_new') }}" class="text-light"><i class="bi bi-plus-lg"></i> Ajouter un auteur</a></button>

            <table class="table">
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Nom</th>
                    <th scope="col">Actions</th>
                </tr>
                {% for author in authors %}
                    <tr>
                        <td>{{ author.id }}</td>
                        <td>{{ author.name }}</td>
                        <td class="d-flex">
                            <button class="btn me-2" style="background-color: #2d6a4f"><a
                                        href="{{ path('app_author_edit', {'id': author.id}) }}" class="text-light"><i
                                            class="bi bi-pencil-square"></i> Modifier</a></button>
                            {{ include('author/_delete_form.html.twig') }}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </section>

        <section class="my-5" id="category">
            <h2>Catégories</h2>
            <button class="btn mb-2" style="background-color: #b4761a"><a href="{{ path('app_category_new') }}" class="text-light"><i class="bi bi-plus-lg"></i> Ajouter une catégorie</a></button>

            <table class="table">
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Nom</th>
                    <th scope="col">Actions</th>
                </tr>
                {% for category in categories %}
                    <tr>
                        <td>{{ category.id }}</td>
                        <td>{{ category.name }}</td>
                        <td class="d-flex">
                            <button class="btn me-2" style="background-color: #2d6a4f"><a
                                        href="{{ path('app_category_edit', {'id': category.id}) }}" class="text-light"><i
                                            class="bi bi-pencil-square"></i> Modifier</a></button>
                            {{ include('category/_delete_form.html.twig') }}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </section>

        <section class="my-5" id="format">
            <h2>Formats</h2>
            <button class="btn mb-2" style="background-color: #b4761a"><a href="{{ path('app_format_new') }}" class="text-light"><i class="bi bi-plus-lg"></i> Ajouter un format</a></button>

            <table class="table">
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Nom</th>
                    <th scope="col">Actions</th>
                </tr>
                {% for format in formats %}
                    <tr>
                        <td>{{ format.id }}</td>
                        <td>{{ format.name }}</td>
                        <td class="d-flex">
                            <button class="btn me-2" style="background-color: #2d6a4f"><a
                                        href="{{ path('app_format_edit', {'id': format.id}) }}" class="text-light"><i
                                            class="bi bi-pencil-square"></i> Modifier</a></button>
                            {{ include('format/_delete_form.html.twig') }}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </section>
    </div>
{% endblock %}